html
    
    body(style="background-color:#000000")
        include ./Header.pug   
        div(style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);padding:10px;margin:10px")
            h1(style="text-align:Center;color:white;padding:10px") Balance Enquiry
            h3(style="text-align:Center;color:white;padding:10px") Your Remaining Balance is
            input(type="text", name="balance",style="text-align:Center;color:black;align-item:center;width:100%;height:30px",value=balance) 