html
    
    body(style="background-color:#000000")
        include ./Header.pug        
        h1(style="text-align:center;color:white;margin-top:20px;margin-bottom:20px;display:block;") Fast Cash
        hr
        div(style="display:inline-block;width:70%;margin-left:10%;margin-top:5%")
            a(href="/balanceslip/10000",style="text-decoration:none;text-align:center;border:2px solid white;color:white;border-radius:10px;margin-top:5%;float:left;height:25px;width:180px;font-size:18px") 10,000
            a(href="/balanceslip/20000",style="text-decoration:none;text-align:center;border:2px solid white;color:white;border-radius:10px;margin-top:5%;float:right;height:25px;width:180px;font-size:18px") 20,000
        div(style="display:inline-block;width:70%;margin-left:10%")
            a(href="/balanceslip/1000",style="text-decoration:none;text-align:center;border:2px solid white;color:white;border-radius:10px;margin-top:5%;float:left;height:25px;width:180px;font-size:18px") 1,000
            a(href="/balanceslip/5000",style="text-decoration:none;text-align:center;border:2px solid white;color:white;border-radius:10px;margin-top:5%;float:right;height:25px;width:180px;font-size:18px") 5,000
        div(style="display:inline-block;width:70%;margin-left:10%")
            a(href="/balanceslip/15000",style="text-decoration:none;text-align:center;border:2px solid white;color:white;border-radius:10px;margin-top:5%;float:left;height:25px;width:180px;font-size:18px") 15,000
            a(href="/balanceslip/2000",style="text-decoration:none;text-align:center;border:2px solid white;color:white;border-radius:10px;margin-top:5%;float:right;height:25px;width:180px;font-size:18px") 2,000
        div(style="display:inline-block;width:70%;margin-left:10%")
            a(href="/withdrawl",style="text-decoration:none;text-align:center;border:2px solid white;color:white;border-radius:10px;margin-top:5%;float:left;height:25px;width:180px;font-size:18px") Enter Amount
            a(href="/",style="text-decoration:none;text-align:center;border:2px solid white;color:white;border-radius:10px;margin-top:5%;float:right;height:25px;width:180px;font-size:18px") Back
            