html
    head
        style
            include ./headercss.css
    body
        ul.list1
            li
                a(href="/") Home
            li
                a(href="/balance") Balance Enquiry
            li
                a(href="/fastcash") Fast Cash
            li
                a(href="/withdrawl") Cash With Drawl
            li
                a(href="/transfer") Online Transfer