html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ATM Machine
        style
            include style.css            
    body(style="background-color:#000000")        
        h1(style="text-align:Center;color:white;margin-top:100px") Log In To Your System
        div.box
            form(mehtod="GET",action="/mainmenu")
                if(Message)
                    p #{Message}
                input(type="text", name="username",placeholder="Enter User Name")
                input(type="password", name="password",placeholder="Enter Password")
                button(type="submit",href="/mainmenu") Log In
                a(href="#") Cancel