html    
    body(style="background-color:#000000")
        h1(style="text-align:Center;color:white;margin-top:60px;font-weight:bold") Welcome To Your ATM
        div(style="display:inline-block;width:60%;margin-left:20%;margin-top:10%")
            a(href="/fastcash",style="text-decoration:none;text-align:center;border:2px solid white;color:white;border-radius:10px;margin-top:10%;padding-top:8px;padding-bottom:8px;font-size:20px;font-weight:bold;float:left;height:25px;width:180px") Fast Cash
            a(href="/withdrawl",style="text-decoration:none;text-align:center;border:2px solid white;color:white;border-radius:10px;float:right;margin-top:10%;padding-top:8px;padding-bottom:8px;font-size:20px;font-weight:bold;height:25px;width:180px") Cash WithDrwal
        div(style="display:inline-block;width:60%;margin-left:20%")
            a(href="/balance",style="text-decoration:none;text-align:center;border:2px solid white;color:white;border-radius:10px;margin-top:20%;padding-top:8px;padding-bottom:8px;font-size:20px;font-weight:bold;float:left;height:25px;width:180px") Balance Enquiry
            a(href="/transfer",style="text-decoration:none;text-align:center;border:2px solid white;color:white;border-radius:10px;float:right;margin-top:20%;padding-top:8px;padding-bottom:8px;font-size:20px;font-weight:bold;height:25px;width:180px") Online Transfer