html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ATM Machine
        style
            include style.css            
    body(style="background-color:#000000")
        include ./Header.pug
        h1(style="text-align:Center;color:white;padding:180px") Online Transfer Menu
        div.box
            form(mehtod="GET",action="/balanceslip/1")
                input(type="text", name="Accountno",placeholder="Enter Account Number")
                input(type="text", name="Amount",placeholder="Enter Amount")
                button(type="submit") Ok
                a(href="/mainmenu") Back